# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

secrets/**

.env

google-sheet-bolton.json
token.json
eoc-example.json